<div th:fragment="listPostsUser">
    <table class="table table-dark table-borderless">
        <tbody>
        <tr th:each="post: ${posts}">
            <td class="col-1 align-middle">
                <ul class="list-inline no-dec">
                    <li class="d-flex flex-column justify-content-center row text-center">
                        <form sec:authorize="isAuthenticated()" class="vote-up" data-id="" th:attr="data-id=${post.getPostId()}">
                            <button type="submit" class="btn btn-outline-light btn-upvote">&#9650;</button>
                        </form>
                        <div>
                            <div id="voteCounter" th:text="${post.getVoteCount()}"></div>
                        </div>
                        <form sec:authorize="isAuthenticated()" class="vote-down" data-id="" th:attr="data-id=${post.getPostId()}">
                            <button type="submit" class="btn btn-outline-light btn-downvote">&#9660;</button>
                        </form>
                    </li>
                </ul>
            </td>
            <td class="col align-middle">
                <ul class="list-group list-no-dec listall-post-list">
                    <li class="col">
                        <div class="lead listall-post-title">
                            <a class="text-break"
                               th:href="@{'/api/posts/view-post/{postId}/comments'(postId=${post.getPostId()})}"
                               th:text="${post.getPostTitle()}"/>
                        </div>
                    </li>
                    <li class="col">
                        <div class="lead listall-post-subtopick">
                            Posted in <a
                                th:href="@{'/api/posts/by-subtopick/{subtopickId}'(subtopickId=${post.getSubtopick().getId()})}"
                                th:text="'/sub/' + ${post.getSubtopick().getName()}"/>
                        </div>
                    </li>
                    <li class="col">
                        <div class="lead listall-post-posterdate">
                            Posted on <span th:text="${post.ConvertDate()}"/>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>