<div th:fragment="listPost">
    <table class="table table-dark">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <ul>
                    <li>
                        <form sec:authorize="isAuthenticated()" class="vote-up" data-id="" th:attr="data-id=${post.getPostId()}">
                            <button type="submit">Upvote</button>
                        </form>
                        <div>
                            <div id="voteCounter" th:text="${post.getVoteCount()}"></div>
                        </div>
                        <form sec:authorize="isAuthenticated()" class="vote-down" data-id="" th:attr="data-id=${post.getPostId()}">
                            <button type="submit">Downvote</button>
                        </form>
                    </li>
                    <li class="list-group-item">
                        <span th:text="${post.getPostTitle()}"/>
                    </li>
                    <li class="list-group-item">
                        Posted in <a class="lead"
                           th:href="@{'/api/posts/by-subtopick/{subtopickId}'(subtopickId=${post.getSubtopick().getId()})}"
                           th:text="'/sub/' + ${post.getSubtopick().getName()}"/>
                        by <a th:href="@{'/api/user/profile/{username}'(username=${post.getUser().getUsername()})}"
                               th:text="'/user/' + ${post.getUser().getUsername()}"/>
                        on <span th:text="${post.ConvertDate()}"/>
                    </li>
                    <li class="list-group-item">
                        <a class="lead"
                           target="_blank"
                           th:if="${post.getUrl() != null}"
                           th:href="${post.getUrl()}"
                            th:text="${post.getUrl()}"/>
                        <br>
                        <span th:text="${post.getPostBody()}"/>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>