<div th:fragment="listPost">
    <table class="table table-dark table-borderless">
        <tbody>
        <tr>
            <td class="col-1 align-middle">
                <ul class="list-inline no-dec">
                    <li class="d-flex flex-column justify-content-center row text-center">
                        <form sec:authorize="isAuthenticated()" class="vote-up" data-id="" th:attr="data-id=${post.getPostId()}">
                            <button type="submit" class="btn btn-outline-light btn-upvote">&#9650;</button>
                        </form>
                        <div>
                            <div id="voteCounter" th:text="${post.getVoteCount()}"></div>
                        </div>
                        <form sec:authorize="isAuthenticated()" class="vote-down" data-id="" th:attr="data-id=${post.getPostId()}">
                            <button type="submit" class="btn btn-outline-light btn-downvote">&#9660;</button>
                        </form>
                    </li>
                </ul>
            </td>
            <td class="col align-middle">
                <ul class="list-group list-no-dec listall-post-list">
                    <li class="col">
                        <div class="lead listsingle-post-title">
                            <div th:if="${post.getUrl() == ''}">
                                <span th:text="${post.getPostTitle()}"/>
                            </div>
                            <div>
                                <a
                                        th:if="${post.getUrl() != ''}"
                                        target="_blank"
                                        th:href="${post.getUrl()}"
                                        th:text="${post.getPostTitle()}"/>
                            </div>
                        </div>
                    </li>
<!--                    <li class="col">-->
<!--                        <div class="lead listall-post-subtopick">-->
<!--                            Posted in <a-->
<!--                                th:href="@{'/api/posts/by-subtopick/{subtopickId}'(subtopickId=${post.getSubtopick().getId()})}"-->
<!--                                th:text="'/sub/' + ${post.getSubtopick().getName()}"/>-->
<!--                            by <a th:href="@{'/api/user/profile/{username}'(username=${post.getUser().getUsername()})}"-->
<!--                                 th:text="'/user/' + ${post.getUser().getUsername()}"/>-->
<!--                            on <span th:text="${post.ConvertDate()}"/>-->
<!--                        </div>-->
<!--                        -->
<!--                    </li>-->
                    <li class="col">
                        <div class="lead listall-post-subtopick">
                            Posted in <a
                                th:href="@{'/api/posts/by-subtopick/{subtopickId}'(subtopickId=${post.getSubtopick().getId()})}"
                                th:text="'/sub/' + ${post.getSubtopick().getName()}"/>
                        </div>
                    </li>
                    <li class="col">
                        <div class="lead listall-post-posterdate">
                            Posted by <a th:href="@{'/api/user/profile/{username}'(username=${post.getUser().getUsername()})}"
                                         th:text="'/user/' + ${post.getUser().getUsername()}"/>
                            on <span th:text="${post.ConvertDate()}"/>
                        </div>
                    </li>
                    <li class="col">
                    </li>
                    <li class="col">
                        <div class="lead listsingle-post-body">
                            <br th:if="${post.getPostBody() != ''}">
                            <span th:text="${post.getPostBody()}"/>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>