<div th:fragment="listCommentsForPost">
    <table class="table table-dark">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment: ${comments}">
            <td>
                <ul>
                    <li class="list-group-item">
                        <div class="lead">
                            Posted by by <a th:href="@{'/api/user/profile/{username}'(username=${comment.getUser().getUsername()})}"
                                            th:text="'/user/' + ${comment.getUser().getUsername()}"/>
                            on <span th:text="${comment.ConvertDate()}"/>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span th:text="${comment.getCommentBody()}"/>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>