<div th:fragment="listCommentsForPost">
    <table class="table table-dark table-borderless table-hover">
        <tbody>
        <tr th:each="comment: ${comments}">
            <td>
                <ul class="list-no-dec">
                    <li class="list-group-item">
                        <div class="lead list-comment-info">
                            Posted by <a th:href="@{'/api/user/profile/{username}'(username=${comment.getUser().getUsername()})}"
                                            th:text="'/user/' + ${comment.getUser().getUsername()}"/>
                            on <span th:text="${comment.ConvertDate()}"/>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="lead list-comment-body">
                            <span th:text="${comment.getCommentBody()}"/>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>