<div th:fragment="listCommentsUser">
    <table class="table table-dark table-borderless table-hover">
        <tbody>
        <tr th:each="comment: ${comments}">
            <td>
                <ul class="list-no-dec">
                    <li class="list-group-item">
                        <div class="lead list-comment-info">
                            <a
                                th:href="@{'/api/posts/view-post/{postId}/comments'(postId=${comment.getPost().getPostId()})}"
                                th:text="${comment.getPost().getPostTitle()}"/>
                            <p>Comment posted on <span th:text="${comment.ConvertDate()}"/></p>
                        </div>
                    </li>
                    <li class="list-group-item">
                            <div class="lead list-comment-body">
                                <span th:text="${comment.getCommentBody()}"/>
                            </div>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>