<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Topick</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<!-- Subtopick Creation Success Message -->
<div th:if="${param.SubtopickCreationSuccess}">
    <div class="alert alert-info">Subtopick created successfully.</div>
</div>

<!-- Account Login Success Message -->
<div th:if="${param.LoginSuccess}">
    <div class="alert alert-info">Welcome back, <span sec:authentication="principal.username"></span>!</div>
</div>

<!-- Account Logout Success Message -->
<div th:if="${param.LogoutSuccess}">
    <div class="alert alert-info">You are now logged out.</div>
</div>

<h1>Posts</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Votes</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Posted</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="post: ${posts}">
            <td th:text="${post.getVoteCount()}"/>
            <td th:text="${post.getPostTitle()}"/>
            <td th:text="${post.getUser().getUsername()}"/>
            <td th:text="${post.getCreatedDate()}"/>
        </tr>
    </tbody>
</table>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>